<section class="home" id="home">
    <div class="home-text">
        <h5> Hola, Yo soy</h5>
        <h1>Yenni Delgado</h1>
        <h6> Soy una apasionada Full-stack <span>Developer.</span></h6>
        <p>Mi prioridar es ofrecerte soluciones flexibles, claras y ordenadas para el buen desarrollo de tu proyecto.</p>
        <img src="../../static/images/stars_blue.png" >
    </div>  

    <div class="home-img">
        <img class="start" src="../../static/images/Star.png">
        <img src="../../static/images/img-logo.png">
    </div>

</section>