<section class="contact" id="contact">
    <div class="center">
        <h1>Envíame un mensaje</h1>
    </div>

    <div class="contact-form">
        <form action="">
            <input type="" placeholder="Ingresa tu nombre">
            <input type="email" name="" id="" placeholder="Escribe tu Correo" required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Describeme tu proyecto" required></textarea>
            <input type="submit" name="" value="Send" class="send-btn">
        </form>
    </div>
</section>