<div class="misRedesContainer">
    <div class="center">
        <h1>Mis redes</h1>
    </div>
    <div class="CointainerLogosRedes">
        <div class="iconcontainer">
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZcRlJdDPCLbGdmnGThTRFdTTpkZGjDCcjKLFPnJQrWQSgsHXKvLxJtkrQDsczlTnPSmQB" target="_blank"><img class="logoRed" src="../../static/images/Emaillogo1.png"></a>
        </div>
        <div class="iconcontainer">            
            <a href="https://github.com/YenniDelgado-97" target="_blank"><img class="logoRed" src="../../static/images/githublogo1.png"></a>
        </div>    
        <div class="iconcontainer">
            <a href="https://www.linkedin.com/in/yenni-vanessa-delgado-velasco-ab505520a/" target="_blank"><img class="logoRed" src="../../static/images/linkedInLogo1.png"></a>
        </div>
    </div>
</div>