<section class="resume" id="resume">
    <div class="center">
        <h1>Educación</h1>
    </div>


    <div class="resume-content">
        <div class="box">
            <h6>2015-2020</h6>
            <h4>Psicología</h4>
            <h3>Universidad Católica De Colombia</h3>
        </div>



        <div class="box">
            <h6>Abr.2022- Dic.2022</h6>
            <h4>Programación Con Énfasis en Desarrollo Web</h4>
            <h3>Universidad Tecnológica de Pereira</h3>
        </div>



        <div class="box">
            <h6>oct.2022-mar.2023</h6>
            <h4>Desarrollo Web Fullstack</h4>
            <h3>Fundación Educamás</h3>
        </div>



        <div class="box">
            <h6>nov.2022-mayo.2023</h6>
            <h4>Desarrollo Web</h4>
            <h3>Oracle Next Education</h3>
        </div>
    </div>

</section>